@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400&family=Lato:wght@100;300;400&display=swap');
@import url('http://fonts.cdnfonts.com/css/averox');

html, body {
  background-color: black;
  cursor: url('./assets/images/cursor.png') 5 5, auto;
  color: #cccccc;
  font-family: 'Jura', sans-serif;
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
  padding: 0;
  scroll-behavior: smooth;
  width: 100%;
}

a, button {
  cursor: url('./assets/images/cursor-active.png') 5 5, auto;
}

* {
  box-sizing: border-box;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Scroll bar styles */
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.25);
}
